{% load i18n %}

<footer class="footer">
    <div class="container-fluid">
        <ul class="nav">
            <li class="nav-item">
                <a href="#" class="nav-link">{% trans "About Us" %}</a>
            </li>
            {% if site_url %}
                <li class="nav-item">
                    <a href="{{ site_url }}" class="nav-link">{% trans 'View site' %}</a>
                </li>
            {% endif %}
        </ul>
        <div class="copyright">
            ©
            <script>
                document.write(new Date().getFullYear())
            </script>
            2018 made with <i class="tim-icons icon-heart-2"></i> by
            <a href="javascript:void(0)" target="_blank">Creative Tim</a> for a better web.
        </div>
    </div>
</footer>